APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=go_ride
DB_SSLMODE=disable

JWT_SECRET=super-secret-key-change-in-production
JWT_EXPIRY_MINUTES=60
JWT_ISSUER=go-ride-backend
JWT_AUDIENCE=go-ride-clients
JWT_DRIVER_AUDIENCE=go-ride-drivers
